ul {
    list-style: none;
    margin: 0px;
    padding: 0PX;
    background-color: aqua;
    overflow: hidden;
}

li {
    float: left;
    border-right:2px solid rgb(31, 211, 235);
}

li a {
    display: block;
    padding: 8px;
    color: brown;
}

.active {
    background-color: red;
    
}
li a:hover:not(.active) {
    background-color: #e4e1e1;
  }
  